{% set link = eventStub.title %}
{% set classes = [
  eventStub.sticky ? "ama__event-stub--sticky"
] %}

{% set link = eventStub.link %}

{% macro mediaType(eventStub) %}
  {% if eventStub.image %}
    {% set image = eventStub.image %}
    {% include "@atoms/image/image.twig"  with { 'class': 'ama__image' } %}
  {% endif %}
{% endmacro %}



<div class="ama__event-stub {{ classes|join(' ') }}">
  {% block eventStub_media %}
    {{ _self.mediaType(eventStub) }}
  {% endblock %}

  <div class="ama__event-stub__copy">
    {% if eventStub.cme %}
      <div class="ama__event-stub__cme">
        {% include '@atoms/media/icons/svg/icon-cme.twig' %}
      </div>
    {% endif %}

    {% if eventStub.hostedBy %}
      <div class="ama__event-stub__banner">
        AMA Event
      </div>
    {% endif %}

    {% if link %}
      {% set link = link|merge({class: 'ama__link--black', target: 'self'}) %}
      <h2 class="ama__h2 ama__event-stub__title">
        {% include "@atoms/link/link.twig" %}
      </h2>
    {% endif %}

    {% if eventStub.location %}
      {% set heading = eventStub.location %}
      {% include "@atoms/heading/heading.twig" %}
    {% endif %}

    {% if eventStub.date %}
      {% set date = eventStub.date %}
      <p class="ama__event-stub__date">{{ date.month }} {{ date.day }}, {{ date.year }}
      </p>
    {% endif %}

    {% if eventStub.discount %}
      <div class="ama__event-stub__discount">
        {% include "@atoms/paragraph.twig" with { "paragraph": eventStub.discount }%}
      </div>
    {% endif %}

    {% if eventStub.paragraph %}
      <div class="ama__event-stub__description">
        {% include "@atoms/paragraph.twig" with { "paragraph" : eventStub.paragraph } %}
      </div>
    {% endif %}

  </div>
</div>
