{#
  @copyright Copyright (c) 2022 Palantir.net
  AMA Dr Finder search result header.
#}
<div class="dr-finder-search-results-header">
   <div class="dr-finder-search-results-header__results-text" >
      {{ drFinderSearchResultsHeader.resultsText|raw }}
   </div>
   <div class="dr-finder-search-results-header__results">
       {{ drFinderSearchResultsHeader.results|raw }}
   </div>
</div>
<div class="dr-finder-search-results-header__suggestion">
    {{ drFinderSearchResultsHeaderSuggestion.suggestionText }}
</div>
<div class="dr_finder_search_results_header_no_result">
        <li>{{ drFinderSearchResultsHeaderNoResult.suggestionNoResultOne }}</li>
        <li>{{ drFinderSearchResultsHeaderNoResult.suggestionNoResultTwo }}</li>
</div>
