<div class="ama__form-group">
  <label>{{ date.label }}</label>
  <input class="ama__date" type="text" id="{{ date.id }}" name="{{ date.name }}" value="{{ date.value }}" placeholder="{{ date.placeholder }}" data-mask="00/00/0000" />
</div>
