{% set setError = textField.error ? "error" %}

<div class="ama__form-group {{ setError }}">
  <label>{{ textField.label }}</label>
  <input class="{{ setError }}" name="{{ textField.name }}" type="text" placeholder="{{ textField.placeholder }}" required="" aria-required="true">
  {% if textField.error %}
    <label class="error" for="cname">{{ textField.error  }}</label>
  {% endif %}

  {% if textField.helpText|length > 0 %}
    <small class="ama__help-text">{{ textField.helpText }}</small>
  {% elseif textField.tooltip |length > 0  %}
    <a href="#" class="ama__tooltip" title="{{ textField.tooltip.bubble }}">{{ textField.tooltip.text }}</a>
  {% endif %}
</div>
