{% set patternLab = topic_article_preview.patternLab %}
{% set link = topic_article_preview.title %}
{% set classes = [
  topic_article_preview.related ? "ama__topic_article-preview--related",
  topic_article_preview.small ? "ama__topic_article-preview--small"
] %}

{#Topic media#}
{% macro topic_mediaType(topic_article_preview) %}
  {% set topic_article_mediaType = topic_article_preview.mediaType %}
  {% if topic_article_mediaType == "video" %}
    {% set video = topic_article_preview.video %}
    {% include "@atoms/video.twig" %}
  {% else %}
    {% set image = topic_article_preview.image %}
    {% include "@atoms/image.twig"  with { 'class': 'ama__image'} %}
  {% endif %}
{% endmacro %}

{#Topic related #}
{% macro topic_description(topic_article_preview) %}
  {% set title = topic_article_preview.title_only %}
  {% set related = topic_article_preview.related %}
  {% set link = topic_article_preview.link %}
  {% set paragraph = topic_article_preview.paragraph %}

  {% if paragraph and not title and not related %}
    <div class="ama__topic_article-preview--description">
      {% include "@atoms/paragraph.twig" %}
    </div>
    <div class="ama__metadata topic_article-preview--metadata col-xs-12">
      {% include "@molecules/article-metadata.twig" %}
    </div>
  {% endif %}
{% endmacro %}

{#Show only title#}
{% macro topic_title(topic_article_title) %}
  {% set link = topic_article_title.link %}
  {% if link %}
    {% if topic_article_title.related %}
      <h4>
        {% include "@atoms/link.twig" %}
      </h4>
    {% else %}
      <h2>
        {% include "@atoms/link.twig" %}
      </h2>
    {% endif %}
  {% endif %}
{% endmacro %}

<div class="ama__topic_article--preview {{ classes|join(' ') }}">
  {% if patternLab %}
    {{ _self.topic_mediaType(topic_article_preview) }}
  {% else %}
    {{ media }}
  {% endif %}
  <div class="ama__topic_article-preview--copy">
    {{ _self.topic_title(topic_article_preview) }}
    {{ _self.topic_description(topic_article_preview) }}
  </div>
</div>
