{% set link = articleStub.title %}
{% set classes = [
articleStub.related ? "ama__article-stub--related",
articleStub.small ? "ama__article-stub--small"
] %}

{% macro mediaType(articleStub) %}
  {% if articleStub.video or articleStub.image %}
    {% if articleStub.video %}
      {% set video = article_mediaType %}
      {% include "@atoms/video.twig" %}
    {% else %}
      {% set image = articleStub.image %}
      {% include "@atoms/image.twig"  with { 'class': 'ama__image' } %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro description(articleStub) %}
  {% set title = articleStub.title_only %}
  {% set related = articleStub.related %}
  {% set link = articleStub.link %}
  {% set paragraph = articleStub.paragraph %}

  {% if paragraph and not title %}
    <div class="ama__article-stub__description">
      {% include "@atoms/paragraph.twig" %}
    </div>
  {% endif %}
{% endmacro %}

{% macro metadata(articleStub) %}
  {% set metadata, paragraph, title_only = articleStub.metadata, articleStub.paragraph, articleStub.title_only%}
  {% if metadata and paragraph and not title_only %}
    <div class="ama__article-stub__metadata">
      {% include "@molecules/article-stub-metadata.twig" %}
    </div>
  {% endif %}
{% endmacro %}

{#Show only title#}
{% macro title(article_title) %}
  {% set link = article_title.link %}
  {% if link %}
    {% set link = link|merge({class: 'ama__link--black', target: 'self'}) %}
      <h3>
        {% include "@atoms/link.twig" %}
      </h3>
  {% endif %}
{% endmacro %}

<div class="ama__article-stub {{ classes|join(' ') }}">
  {% block articleStub_media %}
    {{ _self.mediaType(articleStub) }}
  {% endblock %}

  <div class="ama__article-stub__copy">
    {{ _self.title(articleStub) }}
    {{ _self.description(articleStub) }}
    {{ _self.metadata(articleStub) }}
  </div>
</div>
