{% set logoSource = siteLogo.reversed ? siteLogo.reversed.src : siteLogo.src %}

{% set nolink = siteLogo.nolink %}
{% if nolink == false %}
<a href="{{ siteLogo.href }}" class="{{ siteLogo.class }}">
{% endif %}
  <img src="{{ logoSource }}" class="{{ siteLogo.imageClass }}" alt="{{ siteLogo.alt }}" />
{% if nolink == false %}
</a>
{% endif %}


