{#
@copyright Copyright (c) 2022 Palantir.net
AMA Dr Finder profile header.
#}
<div class="dr-finder-profile-header">
  <div class="dr-finder-profile-header__image-url">{{ drFinderProfileHeader.imageUrl }}</div>
  <div class="dr-finder-profile-header__doctor-info">
    <h2 class="dr-finder-profile-header__doctor-info__name ama__h2">{{ drFinderProfileHeader.data.name|raw }}</h2>
    <div class="dr-finder-profile-header__doctor-info__pronouns">{{ drFinderProfileHeader.data.pronouns|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__address">{{ drFinderProfileHeader.data.address|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__phone">{{ drFinderProfileHeader.data.phoneNumber }}</div>
    <div class="dr-finder-profile-header__doctor-info__specialty">{{ drFinderProfileHeader.data.specialty|raw }}</div>
    <div class="dr-finder-profile-header-with-image__doctor-info__membership">{{ drFinderProfileHeaderWithImage.data.membership|raw}}</div>
    <div class="dr-finder-profile-header-with-image__doctor-info__service">{{ drFinderProfileHeaderWithImage.data.service|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__url">{{ drFinderProfileHeader.data.url|raw }}</div>
    {% for data in drFinderProfileHeaderWithImage %}
      <div class="dr-finder-profile-header-with-image__doctor-info__button">
        <button
          class="ama__button--pill-secondary {{ data.button.class }}"
          type="{{ data.button.type }}"
          aria-label="{{ data.button.ariaLabel }}">
            {{ data.button.text }}
        </button>
      </div>
    {% endfor %}
  </div>
</div>  
