{#
@copyright Copyright (c) 2022 Palantir.net
AMA Dr Finder profile header.
#}
<div class="dr-finder-profile-header">
  <div class="{{ "drFinderProfileHeader.imageUrl" ? "dr-finder-profile-header__image-url": "dr-finder-profile-header-with-image__image-url"}}">
     {{ drFinderProfileHeader.imageUrl }}
  </div>
  <div class="dr-finder-profile-header__doctor-info">
    <h2 class="dr-finder-profile-header__doctor-info__name ama__h2">{{ drFinderProfileHeader.data.name|raw }}</h2>
    <div class="dr-finder-profile-header__doctor-info__pronouns">{{ drFinderProfileHeader.data.pronouns|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__address">{{ drFinderProfileHeader.data.address|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__phone">{{ drFinderProfileHeader.data.phoneNumber }}</div>
    <div class="dr-finder-profile-header__doctor-info__specialty">{{ drFinderProfileHeader.data.specialty|raw }}</div>
    <div class="dr-finder-profile-header-with-image__doctor-info__membership">{{ drFinderProfileHeader.data.membership|raw}}</div>
    <div class="dr-finder-profile-header-with-image__doctor-info__service">{{ drFinderProfileHeader.data.service|raw }}</div>
    <div class="dr-finder-profile-header__doctor-info__url">{{ drFinderProfileHeader.data.url|raw }}</div>
    {% for button in drFinderProfileHeader.data.button %}
       <button class="ama__button--pill-secondary {{ button.class }}"
          type="{{ button.type }}"
          aria-label="{{ button.ariaLabel }}">
            {{ button.text }}
       </button>
    {% endfor %}
  </div>
</div>  
