<div class="dr-finder-edit-header">
    <div class="dr-finder-edit-header__no-image"></div>
    <div class="dr-finder-edit-header__doctor-info">
        <div class="dr-finder-edit-header__doctor-info_name">
           <b>{{ drFinderDoctorEditHeaderNoImage.doctorInfo.name }}</b>
        </div>
        <div class="dr-finder-edit-header__doctor-info_street">{{ drFinderDoctorEditHeaderNoImage.doctorInfo.address.street }}</div>
        <div class="dr-finder-edit-header__doctor-info_city">{{ drFinderDoctorEditHeaderNoImage.doctorInfo.address.city }}</div>
        <div class="dr-finder-edit-header__doctor-info_number">{{ drFinderDoctorEditHeaderNoImage.doctorInfo.phoneNumber }}</div>
        <div class="dr-finder-edit-header__doctor-info_specialty"><b>{{ drFinderDoctorEditHeaderNoImage.doctorInfo.specialty }}</b></div>
    </div>
</div>
