<div class="layout layout--ama-page-section-one-col container section ama__category__row">
  <div class="layout__region layout__region--main">
    <div class="category-subcat ama__category-theme">
      <div class="category-theme__container category-subcat category-theme--four-up">
        <div class="category-theme__container--left">
          <a class="wrapper-link" href="" title="Online Learning &amp; CME">
            <h3 class="ama__h3 ama__article-stub__title">{{ subcat.heading }}</h3>
            <div class="ama__article-stub__description description">
              <p>{{ subcat.description }}</p>
            </div>
          </a>
        </div>
        <div class="category-theme__container--right">
          {% for article in related_articles %}
          <div class="category-theme__stub">
            <div class="category-theme__stub">
              <a class="wrapper-link" href="#" title="{{ article.heading }}">
                <div class="stub__container stub__has-image">
                  <div class="mobile-date">
                  <span>UPDATED</span>
                    {{ article.date }}
                    <span>·</span>
                    {{ article.length }}
                  </div>
                  <div class="category-theme--content">
                      <div class="date">
                        <span>UPDATED</span>
                        {{ article.date }}
                        <span>·</span>
                        {{ article.length }}
                      </div>
                    <h3 class="ama__h3 ama__article-stub__title">
                      {{ article.heading }}
                    </h3>
                    <div class="description">
                      {{ article.description }}
                    </div>
                    <div class="tags">
                      <span class="tag">series</span>
                    </div>
                    <div class="series-name">
                      "Shadow Me" Specialty Series
                    </div>
                  </div>
                  <div class="category-theme--image">
                    <img loading="lazy" src="{{ article.image }}" width="800" height="600" alt="" typeof="foaf:Image" class="ama__image">
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>