<div class="dr-finder-search-result-card">

    <div class="dr-finder-search-result-card__image">
        {% if drFinderSearchResultCard.imgUrl %}
        <img src="{{drFinderSearchResultCard.imgUrl}}" alt="{{ drFinderSearchResultCard.data.name }}">
        {% endif %}

    </div>
    <div class="dr-finder-search-result-card__content">
        <div class="dr-finder-search-result-card__name ama__h2">{{ drFinderSearchResultCard.data.name|raw }}</div>
        <div class="dr-finder-search-result_card__address">{{ drFinderSearchResultCard.data.address }}</div>
        <div class="dr-finder-search-result_card__specialty">{{ drFinderSearchResultCard.data.specialty|raw }}</div>
    </div>
</div>
