{% if icon %}
  <a
    href="{{ href }}"
    title="{{ title }}"
    target="{{ target }}"
    class="{{ class }}">
    {% include icon %}
    {{ text }}
  </a>
{% else %}
  <a
    href="{{ href }}"
    title="{{ title }}"
    target="{{ target }}"
    class="{{ class }}">
    {{ text }}
  </a>
{% endif %}
