<table>
  <caption>{{ table.caption }}</caption>
  <thead>
    <tr>
      {% for thead in table.theads %}
        <th data-title="{{ thead.th }}">{{ thead.th }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for tbody in table.tbodys %}
    <tr>
      <td>{{ tbody.Purchase }}</td>
      <td>{{ tbody.Location }}</td>
      <td>{{ tbody.Date }}</td>
      <td>{{ tbody.Evaluation }}</td>
      <td>{{ tbody.Cost }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
