<table>
  <caption>{{ table.caption }}</caption>
  <thead>
    <tr>
      {% set title = [] %}
      {% for thead in table.thead %}
          {% set title = thead.th %}
          <th data-title="{{ title }}">{{ title }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tr in table.tbody %}
      <tr>
        {% for td in tr.td %}
            {# Removed `source/assets/js/tables.js` that was populating thead.th value for each td data-title attribute #}
          <td data-title={{ title }}>{{ td }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
