<table>
  <caption>{{ table.caption }}</caption>
  <thead>
    <tr>
      {% for thead in table.thead %}
        <th data-title="{{ thead.th }}">{{ thead.th }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for td in table.tbody %}
    <tr>
      <td>{{ td.Purchase }}</td>
      <td>{{ td.Location }}</td>
      <td>{{ td.Date }}</td>
      <td>{{ td.Evaluation }}</td>
      <td>{{ td.Cost }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
