{% for link in links %}
  <a href="{{ link.href }}"
     class="link {{ link.class }} {{ class }}"
     target="{{ link.target }}">
    {{ link.text }}
  </a>
{% else %}
  <a href="{{ url }}" class="link {{ class }}" target="{{ target|default('_self')}}">
    {{ content|default('Generic Link') }}
  </a>
{% endfor %}