{% set logoSource = siteLogo.reversed ? siteLogo.reversed.src : siteLogo.src %}

<a href="{{ siteLogo.href }}" class="{{ siteLogo.class }}">
  <img src="{{ logoSource }}" class="{{ siteLogo.imageClass }}" alt="{{ siteLogo.alt }}" />
</a>



