<a
  href="{{ podcastlink.href }}"
  title="{{ podcastlink.title }}"
  target="{{ podcastlink.target }}"
  class="{{ podcastlink.class }}">
  Listen on <span>{{ podcastlink.text }}</span>
</a>
