{% if forumListing.showHeader %}
<div class="ama__forum-table-wrap">
    <table>
        <thead>
        <tr>
            <th class="tl-forum-title">{{ forumListing.toplevelForum.title }}</th>
            <th class="ama__column-centered forum-table-heading">Topics</th>
            <th class="ama__column-centered forum-table-heading">Posts</th>
            <th class="forum-table-heading">Last post</th>
        </tr>
        </thead>
        <tbody>
        {% endif %}
        <tr>
            <td data-th="Forum">
                <span class="bt-content">
                  <div class="forum-title">
                      {% set link = forumListing.toplevelSubforum %}
                      {% include "@atoms/link/link.twig" %}
                  </div>
                  <div class="subforum-listing">Subforums:
                      {% set link = forumListing.subforums.subforum1 %}
                      {% include "@atoms/link/link.twig" %} ({{ forumListing.subforums.subforum1.posts }})
                      {% set link = forumListing.subforums.subforum2 %}
                      {% include "@atoms/link/link.twig" %} ({{ forumListing.subforums.subforum2.posts }})
                      {% set link = forumListing.subforums.subforum3 %}
                      {% include "@atoms/link/link.twig" %} ({{ forumListing.subforums.subforum3.posts }})
                      {% set link = forumListing.subforums.subforum4 %}
                      {% include "@atoms/link/link.twig" %} ({{ forumListing.subforums.subforum4.posts }})
                  </div>
                </span>
            </td>
            <td class="ama__column-centered" data-th="Topics"><span class="bt-content">3</span></td>
            <td class="ama__column-centered" data-th="Posts"><span class="bt-content">4</span></td>
            <td data-th="Last post"><span class="bt-content">n/a</span></td>
        </tr>
        {% if forumListing.showHeader %}
        </tbody>
    </table>
</div>
{% endif %}