<div class="ama__site-logo">
  <a href="{{ site_logo.path }}/" title="{{ site_logo.title }}">
    <img src="{{ site_logo.image }}" alt="{{ site_logo.alt }}" width="{{ site_logo.width }}" height="{{ site_logo.height }}" />
  </a>
</div>
