<a href="{{ siteLogo.href }}" title="{{ siteLogo.title }}" class="{{ siteLogo.class }}">
  <img src="{{ siteLogo.src }}" class="logo" alt="{{ siteLogo.alt }}" width="{{ siteLogo.width }}" height="{{ siteLogo.height }}"/>
</a>
