<a href="{{ href|default(link|first) }}" class="logo logo-outer {{ class }}">
  <img src="{{ siteLogo.src }}" class="logo" alt="{{ siteLogo.alt }}" width="{{ siteLogo.width }}" height="{{ siteLogo.height }}"/>
</a>
