<div class="ama__resource-tabs">
  <ul class="ama__resource-tabs__nav">
    <li data-resource="resources">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Resources</div>
    </li>
    <li data-resource="media" class="--is-active">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Media</div>
    </li>
    <li data-resource="downloads">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Downloads</div>
    </li>
    <li data-resource="related-links">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Related Links</div>
    </li>
    <li data-resource="schedules">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Schedules</div>
    </li>
    <li data-resource="tables">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Tables</div>
    </li>
    <li data-resource="contacts">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Contacts</div>
    </li>
  </ul>
  <div class="ama__resource-tabs__content">
    <section id="resources" class="--is-active">
      {% set heading = {level: '3', text: 'Resources'}  %}
      {% include '@atoms/heading.twig' %}
    </section>
    <section id="media" class="--is-active">
      <div data-anchor="media-1">
        <h3>Media 1</h3>
          <a href="{{ tabContent.media.media1.link.href }}" title="{{ tabContent.media.media1.link.title }}" class="ama__link--icon">
            {% include '@atoms/media/icons/svg/icon-audio.twig' %}
            {{ tabContent.media.media1.link.text }}
          </a>
      </div>
      <div data-anchor="media-2">
        <h3>Media 2</h3>
        <a href="{{ tabContent.media.media2.link.href }}" title="{{ tabContent.media.media2.link.title }}" class="ama__link--icon">
          {% include '@atoms/media/icons/svg/icon-video.twig' %}
          {{ tabContent.media.media2.link.text }}
        </a>
        {% set video = tabContent.media.media2.video %}
        <div class="ama__resource-tab__content__video">
          {% include '@atoms/video.twig' %}
          {% if tabContent.media.media2.subtext %}
            <p class="ama__type--small">
              {{ tabContent.media.media2.subtext }}
            </p>
          {% endif %}
        </div>
        {% include '@molecules/promo.twig' with { promo : tabContent.media.media2.promo } %}
      </div>
      <div data-anchor="media-3">
        <h3>Media 3</h3>
        <div class="ama__resource-tab__content__image">
          {% include '@atoms/image.twig' with { image : tabContent.media.media3.image }%}
          {% if tabContent.media.media3.subtext %}
            <p class="ama__type--small">
              {{ tabContent.media.media3.subtext }}
            </p>
          {% endif %}
        </div>
      </div>
      <div data-anchor="media-4">
        <h3>Media 4</h3>
        <a href="{{ tabContent.media.media4.link.href }}" title="{{ tabContent.media.media4.link.title }}" class="ama__link--icon">
          {% include '@atoms/media/icons/svg/icon-podcast.twig' %}
          {{ tabContent.media.media4.link.text }}
        </a>
      </div>
    </section>
    <section id="downloads">
      {% for download in tabContent.downloads %}
        <h3>{{ download.title }}</h3>
        {% if download.heading %}
          <h5>{{ download.heading }}</h5>
        {% endif %}
        {% include '@molecules/tool.twig' with { tool : download }%}
        {% if download.subtext %}
          <p class="ama__type--small">
            {{ download.subtext }}
          </p>
        {% endif %}
      {% endfor %}
    </section>
    <section id="related-links">
      {% for group in tabContent.relatedLinks.groups %}
        <h3>{{ group.heading }}</h3>
        {% if group.title %}
          <h5>{{ group.title }}</h5>
        {% endif %}
        <ul>
          {% for link in group.links %}
            <li>
              <a href="{{ link.href }}" title="{{ link.title }}" class="ama__resource-tabs__content__downloads__link ama__link--icon">
                {% include '@atoms/media/icons/svg/icon-podcast.twig' %}
                {{ link.text }}
                {% if link.cme %}{% include '@atoms/media/icons/svg/icon-cme.twig' %}{% endif %}
              </a>
              {% if link.subtext %}
                <p class="ama__type--small">{{ link.subtext }}</p>
              {% endif %}
            </li>
          {% endfor %}
          {% include '@molecules/membership.twig' with { membership : tabContent.relatedLinks.membership } %}
        </ul>
      {% endfor %}
    </section>
    <section id="schedules">
      <div data-anchor="schedules-1">
        {% set heading = {level: '3', text: 'Schedule 1'}  %}
        {% include '@atoms/heading.twig' %}
        <h5>{{ tabContent.schedules.scheduleone.subheading }}</h5>
        <table>
          <tr>
            <td>Dates</td>
            <td>Information</td>
          </tr>
          <tr>
            <td>MMM DD-DD YYYY</td>
            <td>Lorem ipsum dolor sit amet, consectetur</td>
          </tr>
          <tr>
            <td>MMM DD-DD YYYY</td>
            <td>Lorem ipsum dolor sit amet, consectetur</td>
          </tr>
          <tr>
            <td>MMM DD-DD YYYY</td>
            <td>Lorem ipsum dolor sit amet, consectetur</td>
          </tr>
          <tr>
            <td>MMM DD-DD YYYY</td>
            <td>Lorem ipsum dolor sit amet, consectetur</td>
          </tr>
          <tr>
            <td>MMM DD-DD YYYY</td>
            <td>Lorem ipsum dolor sit amet, consectetur</td>
          </tr>
        </table>
        {% include '@molecules/promo.twig' with { promo : tabContent.schedules.promo } %}
      </div>
    </section>
    <section id="tables">
      {% set heading = {level: '3', text: 'Tables'}  %}
      {% include '@atoms/heading.twig' %}
    </section>
    <section id="contacts">
      <h3>Contacts</h3>
      <div data-anchor="contacts-1">
        {#{% set infoCard = tabContent.contacts.infoCard %}#}
        {#{% include '@molecules/info-card.twig' %}#}
      </div>
    </section>
  </div>
</div>
