<div class="ama__resource-tabs">
  <ul class="ama__resource-tabs__nav">
    <li data-resource="resources">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Resources</div>
    </li>
    <li data-resource="media" class="--is-active">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Media</div>
    </li>
    <li data-resource="downloads">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Downloads</div>
    </li>
    <li data-resource="related-links">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Related Links</div>
    </li>
    <li data-resource="schedules">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Schedules</div>
    </li>
    <li data-resource="tables">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Tables</div>
    </li>
    <li data-resource="contacts">
      <div class="ama__resource-tabs__nav__icon"></div>
      <div class="ama__resource-tabs__nav__label">Contacts</div>
    </li>
  </ul>
  <div class="ama__resource-tabs__content">
    <section id="resources" class="--is-active">
      <header class="ama__masthead">
        <div class="ama__masthead__sidebar" role="complementary"></div>
        <div class="ama__masthead__content " role="complementary">
          <a href="#" title="Category link" target="_self" class="ama__masthead__content__link">
            Lorem Ipsum
          </a>
          <h1 class="ama__h1">Example Heading for Resources Page</h1>
          <p class="ama__subtitle">Example text for a subtitle, lorem ipsum sit dolor</p>

          <div class="ama__masthead__content__container">
            <div class="ama__masthead__content__date">
              <h3 class="ama__h3 date-block">
                <span class="date-block__month">April</span>
                <span class="date-block__day">17,</span>
                <span class="date-block__year">2018</span>
              </h3>
            </div>
            <div class="ama__masthead__content__share">
              <ul class="ama__social-share">
                <li>
                  <a href="www.facebook.com/AmericanMedicalAssociation" class="social--facebook-gray"></a>
                </li>
                <li>
                  <a href="plus.google.com/+americanmedicalassociation" class="social--googleplus-gray"></a>
                </li>
                <li>
                  <a href="twitter.com/AmerMedicalAssn" class="social--twitter-gray"></a>
                </li>
                <li>
                  <a href="www.linkedin.com/company/american-medical-association" class="social--linkedin-gray"></a>
                </li>
                <li>
                  <a href="www.youtube.com/user/AmerMedicalAssn" class="social--youtube-gray"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="ama__page--resources__page-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores atque cupiditate <a href="http://www.google.com">normal link</a> debitis dignissimos, dolorem dolorum ea
          <a href="#" class="ama__page--resource__resource-link" data-resource="downloads-1">(Download 1)</a> eius hic laboriosam, necessitatibus nesciunt nobis omnis placeat reprehenderit tenetur ullam vel veniam. Delectus, eaque est molestiae pariatur quae quidem suscipit tenetur voluptatibus.</p>

        <a href="#" data-resource="media-3">
          <div class="ama__resource-link--inline">
            <h4 class="ama__resource-link--inline__label&quot;">Example Label Text for an Inline Resource Link</h4>
            <h3 class="ama__resource-link--inline__text&quot;">Example text for the article link, lorem ipsum dolor sit amet</h3>
          </div>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda consequuntur cupiditate, ea eius, facilis fuga laudantium modi molestiae placeat similique soluta tempora vel? Aliquid cupiditate delectus distinctio, doloribus enim eveniet illum, laudantium obcaecati pariatur perspiciatis quaerat quod similique velit. Eos libero provident quod sit.</p>
      </div>
      <ul class="ama__tags">
        <li>
          <a href="http://www.google.com" title="" target="" class="ama__tag">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="http://www.yahoo.com" title="" target="" class="ama__tag">
            Dolor sit
          </a>
        </li>
      </ul>
    </section>
    <section id="media" class="--is-active">
      <div data-anchor="media-1">
        <h3>Media 1</h3>
          <a href="{{ tabContent.media.media1.link.href }}" title="{{ tabContent.media.media1.link.title }}" class="ama__link--icon">
            {% include '@atoms/media/icons/svg/icon-audio.twig' %}
            {{ tabContent.media.media1.link.text }}
          </a>
      </div>
      <div data-anchor="media-2">
        <h3>Media 2</h3>
        <a href="{{ tabContent.media.media2.link.href }}" title="{{ tabContent.media.media2.link.title }}" class="ama__link--icon">
          {% include '@atoms/media/icons/svg/icon-video.twig' %}
          {{ tabContent.media.media2.link.text }}
        </a>
        {% set video = tabContent.media.media2.video %}
        <div class="ama__resource-tab__content__video">
          {% include '@atoms/video.twig' %}
          {% if tabContent.media.media2.subtext %}
            <p class="ama__type--small">
              {{ tabContent.media.media2.subtext }}
            </p>
          {% endif %}
        </div>
        {% include '@molecules/promo.twig' with { promo : tabContent.media.media2.promo } %}
      </div>
      <div data-anchor="media-3">
        <h3>Media 3</h3>
        <div class="ama__resource-tab__content__image">
          {% include '@atoms/image.twig' with { image : tabContent.media.media3.image }%}
          {% if tabContent.media.media3.subtext %}
            <p class="ama__type--small">
              {{ tabContent.media.media3.subtext }}
            </p>
          {% endif %}
        </div>
      </div>
      <div data-anchor="media-4">
        <h3>Media 4</h3>
        <a href="{{ tabContent.media.media4.link.href }}" title="{{ tabContent.media.media4.link.title }}" class="ama__link--icon">
          {% include '@atoms/media/icons/svg/icon-podcast.twig' %}
          {{ tabContent.media.media4.link.text }}
        </a>
      </div>
    </section>
    <section id="downloads">
      {% for download in tabContent.downloads %}
        <div data-anchor="downloads-1">
          <h3>{{ download.title }}</h3>
          {% if download.heading %}
            <h5>{{ download.heading }}</h5>
          {% endif %}
          {% include '@molecules/tool.twig' with { tool : download }%}
          {% if download.subtext %}
            <p class="ama__type--small">
              {{ download.subtext }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
    <section id="related-links">
      {% for group in tabContent.relatedLinks.groups %}
        <div data-anchor="related-links-1">
          <h3>{{ group.heading }}</h3>
          {% if group.title %}
            <h5>{{ group.title }}</h5>
          {% endif %}
          <ul>
            {% for link in group.links %}
              <li>
                <a href="{{ link.href }}" title="{{ link.title }}" class="ama__resource-tabs__content__downloads__link ama__link--icon">
                  {% include '@atoms/media/icons/svg/icon-podcast.twig' %}
                  {{ link.text }}
                  {% if link.cme %}{% include '@atoms/media/icons/svg/icon-cme.twig' %}{% endif %}
                </a>
                {% if link.subtext %}
                  <p class="ama__type--small">{{ link.subtext }}</p>
                {% endif %}
              </li>
            {% endfor %}
            {% include '@molecules/membership.twig' with { membership : tabContent.relatedLinks.membership } %}
          </ul>
        </div>
      {% endfor %}
    </section>
    <section id="schedules">
      {% for schedule in tabContent.schedules %}
        <div data-anchor="schedules-1">
          {% set heading = {level: '3', text: 'Schedule 1'}  %}
          {% include '@atoms/heading.twig' %}
          <h5>{{ schedule.subheading }}</h5>
          {% set table = schedule.table %}
          {% include '@atoms/table.twig' %}
        </div>
      {% endfor %}
      {% include '@molecules/promo.twig' with { promo : tabContent.schedules.promo } %}
    </section>
    <section id="tables">
      {% set heading = {level: '3', text: 'Table 1'}  %}
      {% include '@atoms/heading.twig' %}
      {% for table in tabContent.tables %}
        {% include '@atoms/table.twig' %}
      {% endfor %}
    </section>
    <section id="contacts">
      <h3>Contacts</h3>
      <h5>This is a subheading for a contact group</h5>
      <div data-anchor="contacts-1">
        <div class="ama__info-card ama__info-card--contact">
          <h3 class="ama__info-card__label">Contact:</h3>
          <div class="ama__info-card__wrap">
            <img class="ama__info-card__image ama__image" alt="placeholder" src="https://via.placeholder.com/280x280/027DBC/ffffff" height="" width="">

            <div class="ama__info-card__text">
              <p class=""> Robert J Mills</p>
              <p class=""> AMA Media &amp; Editorial</p>
              <p class=""> ph: (312) 464-5970</p>
              <p class=""> ph: (312) 464-5970</p>
              <p class=""> fax: (312) 464-5970</p>

              <a href="mailto:robert.mills@ama-assn.org" title="Email Robert J Mills" target="_self" class="">
                robert.mills@ama-assn.org
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
