{% set index =  checkbox.index ? checkbox.index : loop.index %}

<label class="ama__checkbox" for="checkbox-{{ index }}">
  <span>{{ checkbox.label }}</span>
  <input type="checkbox" name="{{ checkbox.name }}" id="checkbox-{{ index }}" value="{{ checkbox.value }}">
  {% if checkbox.count %}
    <span class="filter-count">({{ checkbox.count }})</span>
  {% endif %}
</label>
