<div id="ama-search-connector" class="ama-search-connector-container">
    <div class="search-connector-header">
        <h3 class="title">{{ searchConnectorTitle }}</h3>
        <p class="teaser">{{ searchConnectorHeaderText|raw }}</p>
    </div>
    <div class="search-connector-results">
        {% for item in searchConnectorResults %}
                <a href="{{ item.href }}" title="{{ item.title }}" target="_blank">
                    <div class="search-result-item">
                        <div class="search-result-item-title">{{ item.title }}</div>
                        <div class="search-result-item-count">{{ item.count }} results</div>
                        <div class="search-result-item-subtitle">{{ item.subtitle|raw }}</div>
                    </div>
                </a>
        {% endfor %}
    </div>
</div>
